:root {
    font-size: 62.5%;
}

html,
body {

    font-size: 1.6rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-image: url(imagensTeste/hacker.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

}



.main{
    font-weight: bold;
    width: 60%;
    margin-left: 2%;
    text-align: center;
 }

.main h1{
    font-size: 3.3rem;
    font-family: sans-serif;
    color: #1f1f1f;
    text-shadow: 1px 1px 1px rgb(138, 136, 136);
    background-color: #c9cbcb;
    padding: 2rem;
    border-radius: 2rem;
}


 th{
    background-color: #252626;
    color: rgb(228, 231, 233);
    padding: 1rem;
}

tr{
    text-align: center;
    
}

td{
    border: 1.5px solid black;
    padding: 0.8rem 0.8rem;
    border-collapse: collapse;
}


/*----------------------------COLORAÇÃO DA TABELA------------------------------------------------------------------------------*/

.custom-BG{
    background-color: #c9def0;
}

.first{
    background-color: #a3a1a1;
}

.instantly{
    background-color: #a91515;
    color: aliceblue;
}

.danger{
    background-color: orange;
}

.risk{
    background-color: aqua;
}

.medium{
    background-color: #27db51;
    
}

.safe{
    background-color: purple;
    color: aliceblue;
}
/*____________________________________________ FIM DA COLORAÇÃO DA TABELA __________________________________________________________________*/

