@media screen and (min-width:1601px) {


    //------------------------------- HEADER
    .header {
        padding: 0.5rem 5%;


        .logo {
            font-size: 3rem;

            img {
                width: 6rem;
                height: 6rem;
            }

            span {}
        }

        #check {}

        label {

            #menu-icon,
            #menu-exit {}
        }


        .nav {


            a {
                font-size: 1.9rem;


                &:hover {}
            }
        }

        .home-btn {
            font-size: 1.9rem;

            &:hover {}
        }

    }

    // ____________________________END HEADER





    //--------------------------- HOME

    .home {

        .home-text {
            grid-column: 1 / -1;
            display: flex;
            flex-direction: column;
            align-items: center;
            transition: all 0.5s;

            h4 {
                font-size: 2.5rem;
                transition: all 0.5s;

            }

            h1 {
                font-size: 6rem;
                transition: 0.5s;
            }

            p {
                font-size: 2rem;
                transition: 0.5s;

                span {}
            }

        }

        .home-banner {
            grid-column: 1 / -1;
            grid-row: 2;
            transform: translateY(-35%);

            .wrapper-banner-img {

                img {
                    width: 25rem;
                    height: 25rem;

                }
            }
        }

    }

    //___________________________ END HOME




    //--------------------------- ASIDE

    .aside {
        position: absolute;
        top: 40%;
        right: 1rem;
        display: flex;
        flex-direction: column;
        gap: 3rem;
        background: transparent;


        a {
            margin: 0 1.5rem;
            font-size: 1.6rem;
            text-transform: capitalize;
            font-weight: bold;
            transition: all 0.42s;

            &:hover {}

            i {
                font-size: 4rem;
                transition: all 0.42s;
            }
        }
    }

    //___________________________ END ASIDE



}