@media screen and (max-width:699px) {
    @import 'features';


    //------------------------------- HEADER
    .header {

        padding: 0.5rem 5%;
        transition: all 0.3s;

        .logo {


            span {}
        }


        // BLOCO DO CHECKBOX ONDE É CONFIGURADO O MENU HAMBURGUER
        #check {

            // quando o checkbox for marcado, olhamos pra label proxima e dentro dela o menu fica none
            &:checked~label #menu-icon {
                display: none;
            }

            // quando o checkbox for marcado, olhamos pra label proxima e dentro dela o menu-exit fica block
            &:checked~label #menu-exit {
                display: block;
            }

            // quando o checkbox for marcado, olhamos pra .nav proxima e informamos que do topo ela vai descer 100%, ficando visivel.
            &:checked~.nav {
                top: 100%;
            }


        }


        label {

            #menu-icon {
                display: block;
            }
        }


        .nav {
            display: flex;
            flex-direction: column;
            position: absolute;
            top: -600%; //esconde o menu
            left: 0;
            right: 0;
            text-align: center;
            background: $gradient-main;
            transition: all 0.5s;

            a {
                display: block;
                padding: 1.6rem;
            }
        }

        .ignore {
            display: none;
        }

        .home-btn {
            display: none;

        }

    }

    // ____________________________END HEADER




    //--------------------------- HOME

    .home {

        .home-text {
            grid-column: 1 / -1;
            display: flex;
            flex-direction: column;
            align-items: center;
            transition: all 0.5s;


            .btn-shop-now {
                display: inline-block;
            }


            h4 {
                font-size: 1.4rem;
                transition: all 0.5s;

            }

            h1 {
                font-size: 2.6rem;
                transition: 0.5s;
            }

            p {
                font-size: 1.2rem;
                transition: 0.5s;

                span {}
            }

        }

        .home-banner {
            grid-column: 1 / -1;
            grid-row: 2;
            transform: translateY(-80%);

            .wrapper-banner-img {

                img {
                    width: 15rem;
                    height: 15rem;
                    opacity: 0;
                    animation: spinTitle 0.3s 0.7s ease forwards, floatImage 4s 1.1s ease-in-out infinite;
                    transition: all 0.5s;
                }
            }
        }
    }

    //___________________________ END HOME




    //--------------------------- ASIDE

    .aside {
        position: sticky;
        bottom: 0;
        left: 0;
        right: 0;
        grid-column: 1 / -1;
        grid-row: 3;
        flex-direction: row;
        justify-content: center;

        a {
            color: $colorText;
            margin: 0 1.5rem;
            font-size: 1.6rem;
            text-transform: capitalize;
            font-weight: bold;
            transition: all 0.42s;

            &:hover {
                color: $colorRed;
            }

            i {
                font-size: 3rem;
            }


        }
    }

    //___________________________ END ASIDE




}