@import url("https://fonts.googleapis.com/css2?family=Anton&family=Belanosima&family=Fjalla+One&family=Josefin+Sans:wght@300;400;600&family=Oswald&family=Poppins:wght@200;300;400;500;600&family=Roboto:ital,wght@0,400;0,700;1,300&family=Signika&family=Source+Code+Pro&display=swap");
:root {
  font-size: 62.5%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  list-style: none;
  text-decoration: none;
}

body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
  min-width: 350px;
  width: 100%;
  height: 100vh;
  background: linear-gradient(to right, rgb(219, 232, 246) 0%, rgb(161, 202, 246) 85%);
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.header {
  grid-column: 1/-1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(to right, rgb(219, 232, 246) 0%, rgb(161, 202, 246) 85%);
  position: sticky;
  top: 0;
  z-index: 100;
}
.header .logo {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 2rem;
  font-weight: bold;
  color: #4d004d;
  opacity: 0;
  animation: slideTop 1s 0.7s ease forwards;
  transition: all 0.5s;
}
.header .logo img {
  width: 5rem;
  height: 5rem;
}
.header .logo span {
  color: #eb6624;
}
.header #check {
  display: none;
}
.header label #menu-icon,
.header label #menu-exit {
  color: #4d004d;
  font-size: 3.5rem;
  z-index: 101;
  cursor: pointer;
  display: none;
  opacity: 0;
  animation: slideTop 1s 0.8s ease forwards;
}
.header .nav {
  text-align: center;
  opacity: 0;
  animation: slideBottom 1s 1.2s ease forwards;
}
.header .nav a {
  color: #200120;
  text-transform: capitalize;
  font-weight: bold;
  margin: 0 1.5rem;
  padding: 0 1rem;
  border-bottom: 2px solid transparent;
  transition: all 0.8s;
}
.header .nav a:hover {
  border-bottom: 2px solid #4d004d;
}
.header .home-btn {
  display: inline-block;
  color: #4d004d;
  font-weight: bold;
  text-transform: capitalize;
  border: 2px solid #eb6624;
  background-color: #eb6624;
  border-radius: 30px;
  padding: 0.8rem 1.5rem;
  opacity: 0;
  animation: slideTop 1s 2s ease forwards;
  transition: all 0.72s;
}
.header .home-btn:hover {
  background-color: transparent;
  border: 2px solid #4d004d;
}

.home {
  grid-column: 1/-1;
  grid-row: 2;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  align-items: center;
  padding: 0 5%;
  min-height: 100vh;
}
.home .home-text {
  grid-column: 1/8;
}
.home .home-text .btn-shop-now {
  display: none;
  color: #eb6624;
  font-weight: bold;
  text-transform: capitalize;
  border: 2px solid #4d004d;
  background-color: #4d004d;
  border-radius: 30px;
  padding: 0.8rem 1.5rem;
  margin-bottom: 4rem;
  opacity: 0;
  animation: slideBottom 1s 0.9s ease forwards;
  transition: all 0.72s;
}
.home .home-text .btn-shop-now:hover {
  background-color: transparent;
  border: 2px solid #4d004d;
}
.home .home-text h4 {
  color: #eb6624;
  font-weight: bold;
  opacity: 0;
  animation: slideLeft 1s 1.2s ease forwards;
}
.home .home-text h1 {
  text-transform: uppercase;
  color: #4d004d;
  font-weight: 700;
  margin-bottom: 1rem;
  opacity: 0;
  animation: slideRight 1s 1.2s ease forwards;
}
.home .home-text p {
  color: #200120;
  max-width: 46rem;
  margin-bottom: 2rem;
  opacity: 0;
  animation: slideLeft 1s 1.2s ease forwards;
}
.home .home-text p span {
  font-weight: bold;
  color: #eb6624;
}
.home .home-banner .wrapper-banner-img {
  display: flex;
  justify-content: center;
}
.home .home-banner .wrapper-banner-img img {
  opacity: 0;
  animation: spinTitle 0.3s 2.5s ease forwards, floatImage 4s 2.9s ease-in-out infinite;
}

.aside {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  background: linear-gradient(to right, rgb(219, 232, 246) 0%, rgb(161, 202, 246) 85%);
  opacity: 0;
  animation: slideTop 1s 2s ease forwards;
}
.aside a {
  color: #4d004d;
  margin: 0 1.5rem;
  font-weight: bold;
  transition: all 0.42s;
}
.aside a:hover {
  color: #200120;
}
.aside a i {
  transition: all 0.42s;
}

@media screen and (min-width: 1601px) {
  .header {
    padding: 0.5rem 5%;
  }
  .header .logo {
    font-size: 3rem;
  }
  .header .logo img {
    width: 6rem;
    height: 6rem;
  }
  .header .nav a {
    font-size: 1.9rem;
  }
  .header .home-btn {
    font-size: 1.9rem;
  }
  .home .home-text {
    grid-column: 1/-1;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 0.5s;
  }
  .home .home-text h4 {
    font-size: 2.5rem;
    transition: all 0.5s;
  }
  .home .home-text h1 {
    font-size: 6rem;
    transition: 0.5s;
  }
  .home .home-text p {
    font-size: 2rem;
    transition: 0.5s;
  }
  .home .home-banner {
    grid-column: 1/-1;
    grid-row: 2;
    transform: translateY(-35%);
  }
  .home .home-banner .wrapper-banner-img img {
    width: 25rem;
    height: 25rem;
  }
  .aside {
    position: absolute;
    top: 40%;
    right: 1rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    background: transparent;
  }
  .aside a {
    margin: 0 1.5rem;
    font-size: 1.6rem;
    text-transform: capitalize;
    font-weight: bold;
    transition: all 0.42s;
  }
  .aside a i {
    font-size: 4rem;
    transition: all 0.42s;
  }
}
@media screen and (min-width: 901px) and (max-width: 1600px) {
  .header {
    padding: 0.5rem 5%;
  }
  .home .home-text {
    grid-column: 1/-1;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 0.5s;
  }
  .home .home-text h4 {
    font-size: 2.2rem;
    transition: all 0.5s;
  }
  .home .home-text h1 {
    font-size: 5rem;
    transition: 0.5s;
  }
  .home .home-text p {
    font-size: 1.7rem;
    transition: 0.5s;
  }
  .home .home-banner {
    grid-column: 1/-1;
    grid-row: 2;
    transform: translateY(-35%);
  }
  .home .home-banner .wrapper-banner-img img {
    width: 20rem;
    height: 20rem;
  }
  .aside {
    position: absolute;
    top: 40%;
    right: 1rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    background: transparent;
  }
  .aside a {
    margin: 0 1.5rem;
    font-size: 1.6rem;
    text-transform: capitalize;
    font-weight: bold;
    transition: all 0.42s;
  }
  .aside a i {
    font-size: 4rem;
    transition: all 0.42s;
  }
}
@media screen and (min-width: 700px) and (max-width: 900px) {
  .header {
    padding: 0.5rem 5%;
    transition: all 0.3s;
  }
  .header #check:checked ~ label #menu-icon {
    display: none;
  }
  .header #check:checked ~ label #menu-exit {
    display: block;
  }
  .header #check:checked ~ .nav {
    top: 100%;
  }
  .header label #menu-icon {
    display: block;
  }
  .header .nav {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: -600%;
    left: 0;
    right: 0;
    text-align: center;
    background: rgba(219, 232, 246, 0.9882352941);
    transition: all 0.5s;
  }
  .header .nav a {
    display: block;
    padding: 1.6rem;
  }
  .header .ignore {
    display: none;
  }
  .header .home-btn {
    position: absolute;
    top: 250%;
    right: 0.5rem;
    transform: rotate(90deg);
    z-index: -3;
    opacity: 0;
    animation: slideTopPerson 1s 2s ease forwards;
  }
  .home .home-text {
    grid-column: 1/-1;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 0.5s;
  }
  .home .home-text h4 {
    font-size: 1.7rem;
    transition: all 0.5s;
  }
  .home .home-text h1 {
    font-size: 3.5rem;
    transition: 0.5s;
  }
  .home .home-text p {
    font-size: 1.7rem;
    transition: 0.5s;
  }
  .home .home-banner {
    grid-column: 1/-1;
    grid-row: 2;
    transform: translateY(-80%);
  }
  .home .home-banner .wrapper-banner-img img {
    width: 15rem;
    height: 15rem;
    opacity: 0;
    animation: spinTitle 0.3s 0.7s ease forwards, floatImage 4s 1.1s ease-in-out infinite;
    transition: all 0.5s;
  }
  .aside {
    position: sticky;
    bottom: 0;
    left: 0;
    right: 0;
    grid-column: 1/-1;
    grid-row: 3;
    flex-direction: row;
    justify-content: center;
  }
  .aside a {
    color: #4d004d;
    margin: 0 1.5rem;
    font-size: 1.6rem;
    text-transform: capitalize;
    font-weight: bold;
    transition: all 0.42s;
  }
  .aside a:hover {
    color: #200120;
  }
  .aside a i {
    font-size: 3rem;
  }
}
@media screen and (max-width: 699px) {
  .header {
    padding: 0.5rem 5%;
    transition: all 0.3s;
  }
  .header #check:checked ~ label #menu-icon {
    display: none;
  }
  .header #check:checked ~ label #menu-exit {
    display: block;
  }
  .header #check:checked ~ .nav {
    top: 100%;
  }
  .header label #menu-icon {
    display: block;
  }
  .header .nav {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: -600%;
    left: 0;
    right: 0;
    text-align: center;
    background: rgba(219, 232, 246, 0.9882352941);
    transition: all 0.5s;
  }
  .header .nav a {
    display: block;
    padding: 1.6rem;
  }
  .header .ignore {
    display: none;
  }
  .header .home-btn {
    display: none;
  }
  .home .home-text {
    grid-column: 1/-1;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 0.5s;
  }
  .home .home-text .btn-shop-now {
    display: inline-block;
  }
  .home .home-text h4 {
    font-size: 1.4rem;
    transition: all 0.5s;
  }
  .home .home-text h1 {
    font-size: 2.6rem;
    transition: 0.5s;
  }
  .home .home-text p {
    font-size: 1.2rem;
    transition: 0.5s;
  }
  .home .home-banner {
    grid-column: 1/-1;
    grid-row: 2;
    transform: translateY(-80%);
  }
  .home .home-banner .wrapper-banner-img img {
    width: 15rem;
    height: 15rem;
    opacity: 0;
    animation: spinTitle 0.3s 0.7s ease forwards, floatImage 4s 1.1s ease-in-out infinite;
    transition: all 0.5s;
  }
  .aside {
    position: sticky;
    bottom: 0;
    left: 0;
    right: 0;
    grid-column: 1/-1;
    grid-row: 3;
    flex-direction: row;
    justify-content: center;
  }
  .aside a {
    color: #4d004d;
    margin: 0 1.5rem;
    font-size: 1.6rem;
    text-transform: capitalize;
    font-weight: bold;
    transition: all 0.42s;
  }
  .aside a:hover {
    color: #200120;
  }
  .aside a i {
    font-size: 3rem;
  }
}/*# sourceMappingURL=style.css.map */