* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
}

:root {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    max-width: 100vw;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}



.wrapper {

    font-family: Verdana, Geneva, Tahoma, sans-serif;
}





div {

    margin-top: 5rem;
    padding: 2rem;
    font-weight: bold;
    width: fit-content;

    div {

        background-color: rgb(53, 1, 53);

    }

}