@import url('https://fonts.googleapis.com/css2?family=Anton&family=Belanosima&family=Fjalla+One&family=Josefin+Sans:wght@300;400;600&family=Montserrat:wght@100;400;500;600;700;800;900&family=Oswald&family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,600;1,700;1,800&family=Roboto:ital,wght@0,300;0,400;0,700;1,300&family=Signika&family=Source+Code+Pro&display=swap');




@tailwind base;
@tailwind components;
@tailwind utilities;


/*----------------------------------------------------------------------- configurações pré página ------------------------ */

html {
    scroll-behavior: smooth;
}

.text-shadow {
    text-shadow: 2px 2px 6px #323131;
}

.text-shadow-white {
    text-shadow: 2px 2px 6px rgb(89, 87, 87);
}







/*----- ANIMAÇÕES DE CARREGAMENTO ---------*/
.to-hide {
    @apply opacity-0 -translate-x-full;
    transition: all 0.7s;
}

.to-show {
    @apply opacity-100 translate-x-0;
    transition: all 0.7s;
}




/*______ FIM ANIMAÇÕES DE CARREGAMENTO ______*/







/*------------------------------ CONFIGURANDO GRADIENTES ------------*/
/*background do template*/
.gradient-bg {
    /*ROXO*/
    background-image: linear-gradient(to left, #21033d, #160838, #0e0a31, #080a2a, #040921);
}


.gradient-default {
    @apply bg-gradient-to-r from-cyan-400 to-blue-600;
    /* @apply bg-gradient-to-r from-orange-500 to-rose-600; */
    /* @apply bg-gradient-to-r from-lime-500 to-green-600; */
    /* @apply bg-gradient-to-r from-rose-600 to-purple-600; */

}

/*Background dos textos*/
.gradient-text {
    @apply bg-clip-text gradient-default;
    -webkit-text-fill-color: transparent;
}


.color-default {
    @apply text-rose-600 shadow-2xl;
}

/*________________________________________________________________________________*/





/*SOMBRA DAS IMAGENS*/
.shadow-images-default {
    @apply absolute scale-75 inset-0 m-auto rounded-full rotate-45 gradient-default blur-3xl;

    /*Breakpoints*/
    /*  @apply md:w-96 md:h-96; */
}


/*----------CONFIGURANDO TITULO DA SESSÃO PARA TODAS AS SESSÕES*/
.title_global_wrapped {
    @apply flex justify-center pt-5percent pb-28 pt-36;

}

.title_global_wrapped h1 {
    @apply text-5xl font-semibold text-white transition-all duration-500 text-shadow;

    /*breakpoint*/
    @apply skillMob:text-3xl;
}


/*-------------------------*/


#container {
    @apply grid grid-cols-12 gradient-bg;
}


/*------------------------------------- HEADER -------------------------------------------------------*/

#container header {
    @apply col-span-full flex items-center sticky left-0 right-0 top-0 justify-between px-10 py-7 bg-gray-950;
    @apply border-0 border-gray-800 text-white transition-all z-50;

    /*Breakpoint*/
    /*  @apply lap:mx-10; */

    /*Marcação*/
    /* @apply bg-yellow-400; */
}

header #logo-zip {
    @apply flex items-center;
}

#logo-zip h2 {
    @apply text-4xl bg-clip-text gradient-text;


    /*breakpoints*/
    @apply tbl:text-2xl;

    /*Marcação*/
    /* @apply bg-rose-400; */
}


/*PONTO ANIMADO DA LOGO*/
#logo-zip span {
    @apply inline-block animate-bounce ml-1 text-5xl text-white;
}

.nav_logo a {
    @apply font-semibold;

    /*Marcação*/
    /* @apply bg-rose-300; */
}


/*Label que engloba o icone que servirá de botão*/
header label {
    @apply absolute right-6 text-3xl text-gray-700 hidden;

    /*breakpoints*/
    @apply tbl:block;

}

/*ícone X que é o botão*/
label i {
    @apply text-white;
}


/*OCULTA BOTAO MENU QUANDO CHECK MARCADO*/
input:checked~label .btn-menu {
    @apply !hidden;
}

/* MOSTRA BOTAO X QUANDO CHECK MARCADO*/
input:checked~label .btn-x {
    @apply !block;
}


header nav {
    @apply flex gap-10 relative transition-all bg-transparent font-semibold text-lg;

    /*breakpoints*/
    /*Quando menor que 860px, a nav irá virará um menu lateral*/
    @apply tbl:bg-gray-950 tbl:fixed tbl:top-0 tbl:left-0 tbl:h-full tbl:flex-col tbl:pl-7 tbl:pt-10 tbl:w-56 tbl:-translate-x-60 tbl:border-r-2 tbl:border-gray-700;

    /*Marcação*/
    /* @apply bg-sky-400; */
}

/*Mostra a nav que está oculta com o translate de volta para 0*/
input:checked~nav {
    @apply tbl:translate-x-0;
}

nav a {
    @apply text-white;

}

nav a:hover,
nav a:focus {
    @apply color-default;


}

/*__________________________________________________ FIM DO HEADER __________________________________________*/






































/*------------------------------------- HERO -------------------------------------------------------*/


#container #hero {
    @apply col-span-full relative pt-24 pb-0 gradient-bg;


    /*breakpoints*/
    @apply lg:pt-28 lg:pb-72;

    /*Marcação*/
    /* @apply bg-rose-600; */
}


#hero #sub-hero {
    @apply relative m-auto px-6;

    /*breakpoints*/
    @apply xl:container md:px-12 lg:px-6;

    /*Marcação*/
    /*  @apply bg-green-800; */
}

#sub-hero #subtitles-hero-zip {
    @apply flex flex-col gap-7 mb-8;
}

#subtitles-hero-zip h1 {
    @apply font-black text-4xl text-center text-white;

    /*breakpoints*/
    @apply sm:mx-auto sm:w-10/12 md:w-2/3 sm:text-5xl md:text-6xl lg:w-auto xl:text-7xl;

}

#subtitles-hero-zip h2 {
    @apply font-black text-center text-transparent bg-clip-text gradient-default;

    /*breakpoints*/
    @apply sm:mx-auto sm:w-10/12 md:w-2/3 sm:text-4xl md:text-4xl lg:w-auto xl:text-6xl small:text-3xl mini:text-xl;
}


/*CONTAINER QUE ENGLOBA TUDO APÓS OS TITULOS*/
#sub-hero #buttons-img-zip {
    @apply flex flex-col items-center lg:flex;

    /*Marcação*/
    /* @apply bg-orange-500 p-3; */
}


/*CONTAINER QUE ENGLOBA BOTÕES E DESCRIÇÃO*/
#buttons-img-zip #desc-buttons-zip {
    @apply relative mt-8 space-y-8 text-center;

    /*breakpoints*/
    @apply md:mt-16 sm:w-10/12 md:w-2/3 lg:ml-0 sm:mx-auto lg:text-left lg:mr-auto lg:w-7/12;

    /*Marcação*/
    /* @apply bg-purple-400; */
}


#desc-buttons-zip p {
    @apply text-white;

    /*Breakpoints*/
    @apply sm:text-lg lg:w-11/12;
}


/*FRASE ISOLADA ACIMA DO DOS BOTÕES*/
#desc-buttons-zip>span {
    @apply block text-xl font-semibold color-default;

    /*Breakpoint*/
    @apply small:text-lg mini:text-sm;

    /*Marcação*/
    /* @apply bg-green-300; */
}


/*CONTAINER QUE ENGLOBA ICONES GITHUB LINKEDIN E KO-FI*/
#desc-buttons-zip #buttons-wrapped {
    @apply grid grid-cols-3 gap-2;

    /*Breakpoints*/
    @apply md:space-x-6 md:flex md:justify-center lg:justify-start;

    /*Marcação*/
    /*  @apply bg-red-800 p-2; */
}


/*ICONES GITHUB LINKEDIN*/
#buttons-wrapped a {
    @apply flex justify-center items-center relative px-4 py-2 font-semibold gap-2 shadow-2xl transition-all;

    /*Bordas*/
    @apply rounded border border-gray-50 bg-transparent text-gray-50;

    /*Pseudo Elementos*/
    @apply before:absolute before:left-0 before:top-0 before:h-full before:w-0 before:duration-700;
}

#buttons-wrapped a:hover {
    @apply text-gray-950 before:w-full before:bg-sky-500;

}

#buttons-wrapped a i {
    @apply text-4xl z-10;
}

#buttons-wrapped a span {
    @apply little:hidden;
}


/*------------Botão CONTACTAR*/
#buttons-wrapped #contact-button {
    @apply relative px-7 py-3 overflow-hidden transition-all rounded;

    /*Texto, bg e bordas*/
    @apply text-xl font-semibold border border-gray-700 gradient-default text-white shadow-2xl;

    /*Pseudo elementos Before*/
    @apply before:absolute before:left-0 before:top-0 before:h-full before:w-0 before:duration-700;

    /*Pseudo elementos After*/
    @apply after:absolute after:right-0 after:top-0 after:h-full after:w-0 after:duration-700;
}



#buttons-wrapped #contact-button:hover {
    @apply text-sky-500;

    /*Pseudo Before*/
    @apply hover:before:w-2/4 hover:before:bg-gray-950;

    /*Pseudo Before*/
    @apply after:w-2/4 after:bg-gray-950;
}


#buttons-wrapped #contact-button span {
    @apply relative z-10 little:block little:text-sm;
}

/*--------------------- FIM BOTÃO CONTACTAR*/



/*IMAGEM HERO BANNER*/
#buttons-img-zip #img-wrapped {
    @apply relative mt-3 w-[75%] animate-floatImage;

    /*Breakpoints*/
    @apply md:mt-2 lg:absolute lg:w-7/12 lg:-right-10 large:w-[50%] large:right-5 little:w-full;

    /*Marcação*/
    /* @apply bg-yellow-50; */
}


#img-wrapped #shadow-blue-zip {
    @apply absolute scale-90 inset-0 m-auto w-full h-full rounded-full rotate-45 gradient-default blur-3xl;

    /*Breakpoints*/
    @apply md:scale-110 md:w-96 md:h-96 lg:scale-110 large:scale-125;
}

#img-wrapped img {
    @apply relative w-full;
}

/*__________________________________________________ FIM DO HERO __________________________________________*/





































/*---------------------------------------------------- SKILLS -------------------------------------------*/



#skills {

    @apply col-span-full overflow-hidden flex flex-col items-center justify-center gradient-bg;


    /*Marcação*/

}

#skills #all-wrapped_skills {
    @apply flex flex-col container relative mx-auto p-4;


    /*Marcação*/
    /* @apply bg-rose-600; */
}


/*ONDE ENGLOBA OS DOIS LADOS DOS ELEMENTOS*/
#all-wrapped_skills #sub-wrapped_skills {
    @apply flex items-center flex-col;

    /*Breakpoint*/
    @apply skillTab:flex-row skillTab:items-start;

    /*Marcação*/
    /* @apply bg-blue-500 p-5; */
}


/*CONTAINER DA IMAGEM*/
#sub-wrapped_skills #img-zip_skills {
    @apply w-10/12 px-12;

    /*Breakpoint*/
    @apply skillDK:w-2/5 skilltab2:w-full;

    /*Marcação*/
    /* @apply bg-green-500 p-5; */
}


#img-zip_skills #sub-img-zip_skills {
    @apply relative flex flex-col break-words w-full mb-6 shadow-lg rounded-lg order-1;


    /*Breakpoint*/
    @apply skillMob:hidden skilltab2:flex-row;

    /*Marcação*/
    /* @apply bg-pink-500 p-5; */
}

#sub-img-zip_skills #sub-sub-img-zip-skills {
    @apply relative;


    /*Marcação*/
    /* @apply bg-amber-700 p-4; */
}


/*SOMBRA DA IMAGEM*/
#sub-sub-img-zip-skills #shadow-img {
    @apply shadow-images-default;

    /*breakpoint*/
    @apply skilltab2:w-[40%];

}


#sub-img-zip_skills img {
    @apply w-full align-middle rounded-t-lg animate-floatImage;


    /*breakpoint*/
    @apply p-0;

    /*Marcação*/
    /* @apply bg-yellow-500 p-5; */
}


#sub-img-zip_skills blockquote {
    @apply relative p-8 mb-4 shadow-2xl;

    /*Marcação*/
    /* @apply bg-lime-500 p-5; */
}

#sub-img-zip_skills blockquote h4 {
    @apply text-xl font-bold color-default;
}


#sub-img-zip_skills blockquote p {
    @apply font-light mt-2 text-white;
}


/*CONTAINER DOS CARDS*/
#sub-wrapped_skills #skills-topics-zip {
    @apply w-full px-4 mx-auto;

    /*Breakpoint*/
    @apply skillDK:w-[65%];

    /*Marcação*/
    /* @apply bg-orange-500 p-5; */
}




#skills-topics-zip .cards-skills {
    @apply w-full p-2;

    /*Breakpoint*/
    @apply skillDK:grid skillDK:grid-cols-2 skillDK:gap-x-5 skillDK:gap-y-12 skillMob:flex skillMob:flex-col skillMob:gap-y-10;

    /*Marcação*/
    /* @apply bg-sky-300; */
}


.cards-skills .skills-unique {
    @apply relative flex flex-col mt-4 text-white shadow-2xl;
    @apply bg-gray-950 p-4 rounded-lg;

    /*Breakpoint*/
    @apply skillDK:justify-end;

    /*Marcação*/
    /* @apply bg-red-700 p-2; */
}



.skills-unique .icon-wrapped_skills i {
    @apply text-5xl gradient-text animate-lateralSpin;
}


.skills-unique h6 {
    @apply text-xl mb-1 font-semibold text-shadow color-default;
}

.skills-unique p {
    @apply mb-4;
}

.skills-unique .skill-stars-zip {
    @apply flex gap-2 w-[50%];
}


.skill-stars-zip i {
    @apply text-xl text-yellow-400;
}

/*___________________________________________________FIM DO SKILLS ___________________________________________*/
























/*------------------------------------- PROJECTS ---------------------------------------------------------*/
#projects {
    @apply col-span-full min-h-screen overflow-hidden flex flex-col items-center justify-center;


    /*Marcação*/
    /* @apply bg-purple-700; */

}


/*Engloba a sessao de cards inteira*/
#projects #wrapped-cards {

    @apply p-7 w-full;

    /*Marcação*/
    /* @apply bg-orange-600; */
}


/*CONTAINER QUE ENGLOBA QUEM ENGLOBA OS CARDS*/
#wrapped-cards #cards {
    @apply container m-auto text-gray-500 xl:px-0 w-full;

    /*Marcação*/
    /* @apply bg-cyan-400; */
}

#cards h1 {
    @apply text-4xl text-gray-600 text-center pb-10 font-semibold text-shadow;
}


/*CONTAINER QUE ENGLOBA OS CARDS INDIVIDAIS*/
#cards #zip-cards {
    @apply mx-auto grid gap-6 w-full;

    /*BREAKPOINTS*/
    @apply small:grid-cols-1 mobile:grid-cols-1 tablet:grid-cols-2 desktop:grid-cols-3 grid-cols-4;

}


/*CARD INDIVIDUAL*/
#zip-cards .card {
    @apply flex flex-col rounded-2xl px-8 py-12 sm:px-12 lg:px-8 shadow-2xl small:w-full overflow-hidden;
    @apply border border-gray-950 border-b-4 border-r-4 bg-gray-950;

}


.card .card-desc {
    @apply mb-12 space-y-4;
}

.card-desc h3 {
    @apply text-2xl font-semibold gradient-text;
}

.card-desc p {
    @apply mb-6 text-white;
}

.card-desc h4 {
    @apply font-bold gradient-text p-2 text-xl;
}

.card-desc #card-usage-tec {
    @apply text-4xl text-white;
}

.card-desc a {
    @apply block font-medium color-default hover:text-gray-800 text-xl w-fit transition-all;
}


.card #icon-card {
    @apply text-7xl ml-auto -mb-10 opacity-60 gradient-text;
}

/*_____________________________________ FIM DO PROJECTS ________________________________________*/
























/*-------------------------------------------------- CONTATO -------------------------------------------------------------------------*/

#contact {
    @apply col-span-full overflow-hidden flex flex-col items-center justify-center;

    /*Marcação*/
    /* @apply bg-green-500; */
}


#contact #wrapped {
    @apply w-full pt-20;

    /*Marcação*/
    /* @apply bg-blue-500; */

}

#contact #wrapped h1 {
    @apply font-semibold text-4xl text-center pb-10 gradient-text;

}


#wrapped #teste {

    @apply w-full flex items-start gap-10 justify-center px-10 py-16 bg-transparent small:px-5 mobile:px-5;

}


/*LADO ESQUERDO DA SESSAO CONTATOS, FRASES*/
#teste #desc-contact {

    /*quando o container de frases tiver largura menor que 1049px, ficará hidden*/
    @apply p-10 mobnav2:hidden max-w-2xl;

}

#desc-contact .wrapped-titles {
    @apply flex flex-col items-center;
}



.wrapped-titles h3 {
    @apply text-2xl color-default mb-16 font-semibold;

    /*Marcação*/
    /* @apply bg-purple-600; */
}


#desc-contact .wrapped-p {
    @apply text-white leading-7;
}



/*LADO DIREITO DA SESSAO CONTATOS, FORMULARIO*/
#teste #wrapped-form {

    @apply bg-gray-950 p-10 mt-5 rounded-xl shadow-2xl min-w-fit max-w-2xl border-2 border-gray-950;

    @apply mobnav2:w-full;

    /*Marcação*/
    /* @apply bg-yellow-600; */

}

#teste #wrapped-form h1 {

    @apply text-3xl mb-6 text-center font-semibold gradient-text;

    /*Breakpoints*/
    @apply little:text-2xl;

}

#wrapped-form p {

    @apply text-sm font-semibold mb-10 text-white text-center;

}

#wrapped-form form {

    @apply space-y-4;

}


#wrapped-form form label {

    @apply text-white;

}


form div #wrapped-inputs {

    @apply block text-sm font-medium text-gray-700;

}

form div input {

    @apply mt-1 p-2 w-full border rounded-md focus:border-gray-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-300 transition-colors duration-300;

}

form #textarea-div {

    @apply flex flex-col;

}

#textarea-div textarea {
    @apply resize-none;
}

form div #button {

    @apply w-full gradient-default text-white font-bold p-2 rounded-md hover:bg-white focus:bg-white focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-900 transition-colors duration-300;

}

form .inputs-hidden {

    @apply hidden;

}

/*____________________________________________________ FIM CONTATOS __________________________________________________________*/






















/*----------------------------------------------------- FOOTER ---------------------------------------*/

footer {

    @apply col-span-full overflow-hidden flex items-center justify-center;

}




footer #sub-footer {

    @apply mx-auto text-gray-500 py-5 bg-gray-950 w-full;

}




/*Parte superior do footer*/

#top-footer {

    @apply text-center;

}



#top-footer h3 {

    @apply text-3xl mb-3 mt-14 font-bold;

}




#top-footer>p {

    @apply text-lg gradient-text font-semibold;

}



/*Parte do meio do footer, onde fica os icones*/

#desc-icon-footer {

    @apply flex flex-wrap justify-center my-1;

}




#desc-icon-footer .wrapped-icon-footer {

    @apply flex flex-col items-center w-auto rounded-lg px-4 pt-16 mx-2;

}




.wrapped-icon-footer i {

    @apply text-7xl;

}



#bot-footer {

    @apply mt-28 flex flex-col md:flex-row md:justify-between items-center text-sm gradient-text font-semibold ml-2;

}



#bot-footer p {

    @apply order-2 md:order-1 mt-8 md:mt-0;

}



/*____________________________________________________FIM DO FOOTER _____________________________________*/