/*Ajustes para grandes telas*/
@media (min-width:1350px) {

    /*------------------------------- HEADER NAVBAR ----------------------------------------------- */

    .logo {
        font-size: 3.5rem;
    }



    .navbar a {
        font-size: 1.8rem;
        margin-left: 3.5rem;
    }

    /*____________________ END HEADER NAVBAR ________________________________________________________*/









    /*-------------------------------------------- HOME -----------------------------------------------*/

    .home {
        display: flex;
        justify-content: space-between;
        grid-template-columns: repeat(12, 1fr);
        align-items: center;
        margin: 0 10%;
        gap: 5%;
    }

    .home-icons-content {}


    .home-icons-content a {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 1.2rem;
    }


    .home-icons-content a i {
        font-size: 3.5rem;
    }


    .home-content {}


    .home-content h1 {
        font-size: 5.1rem;
    }


    .home-content h3 {
        font-size: 3.2rem;
    }

    .home-content p {
        font-size: 1.6rem;
    }


    .btn {
        width: 18rem;
        height: 4.8rem;
        font-size: 2rem;
    }

    /*____________________________________________END HOME ____________________________________________*/










    /*--------------------------------------- HOME IMG ---------------------------------------------------------*/

    .home-img {
        width: 41rem;
        height: 41rem;

    }

    .home-img .glowing-circle {}


    .home-img .glowing-circle::after {}


    /*foto, precisa estar com tamanho e altura definida para aparecer, sem isso ela nao aparece*/
    .glowing-circle .image {
        width: 38rem;
        height: 38rem;
    }


    .image img {}

    /*____________________________________________END HOME IMG ____________________________________________*/













    /*----------------------------------------- PROJETOS ------------------------------------------------------*/
    .projetos {}


    .projetos h1 {
        font-size: 4.5rem;
        margin-bottom: 10rem;
    }

    .cards-wrapper {
        width: 90%;
        padding: 0 2rem;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(40rem, 1fr));
        gap: 2rem;
    }

    .card {
        align-items: center;
        padding: 1rem;
        border-radius: 5px;
    }

    .wrapped-img-card {
        width: 100%;
        flex: 1 1 auto;
        padding: 1rem;
        text-align: center;
        font-size: 5rem;
    }


    .content-card {
        text-align: center;
        padding: 1rem;
    }

    .content-card h3 {
        margin: 0 0;
        font-size: 2.8rem;
    }

    .content-card h4 {
        margin-bottom: 2rem;
        font-size: 2.2rem;
    }

    .content-card p {
        font-size: 1.7rem;
        text-align: center;
    }

    .card a {
        font-size: 1.7rem;
    }

    /*_______________________________________ END PROJETOS _______________________________________________________*/









    /*----------------------------------------- SKILLS ------------------------------------------------------*/


    .skills {
        margin: 10% 0;

    }


    .skills h1 {
        font-size: 4.5rem;
    }

    .skills-bars {
        width: 900px;
    }

    .skills-bars li {}


    .skills-bars li h3 {
        font-size: 2rem;
    }


    .bar {}


    .bar span {}

    /*_______________________________________ END SKILLS _______________________________________________________*/





    /*--------------------------------------CONTATO -------------------------------------------------------------*/

    .contato {}


    .contato h1 {
        font-size: 4.5rem;
        margin-bottom: 5rem;
    }

    form {
        width: 700px;
    }

    .input-box {}


    .input-box label {
        font-size: 2.2rem;
    }


    .input-box input {
        font-size: 1.7rem;
    }


    .input-box textarea {
        font-size: 1.7rem;
    }


    .input-box .input-submit {}


    .inputs-hidden {
        display: none;
    }

    /*______________________________________ END CONTATO ______________________________________________________*/



}