@media screen and (min-width:801px) and (max-width:1300px) {

    /*----------------- NAV ------------------*/
    .nav {
        padding: 0.5rem 1rem;
        align-items: center;
    }

    .menu-itens_ul {
        display: flex;
        gap: 1rem;
    }


    .menu-itens_ul li .link-menu-ul_a {
        font-size: 1.8rem;
    }

    /*________________________ FIM DO NAV ___________________*/



    /*----------------- BANNER CONTAINER APRESENTACAO ------------------*/

    .banner-hero-wrapped {
        background-image: linear-gradient(rgba(64, 3, 130, 0.651), rgb(0, 0, 0, 1)), url(../Imagens/Universe_Desktop.jpg);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        background-position: center;

    }

    .wrapped-about-sobre-mim {
        line-height: 3rem;
    }


    .my-name_h1 {
        font-size: 5.5rem;
    }

    .job_h2 {
        font-size: 3rem;
    }

    .beta-version-cursor-about-me_span {
        width: 90%;
        text-align: end;
    }


    /*________________________ BANNER CONTAINER APRESENTACAO ___________________*/



    /*------------------------------- PROJETOS ------------------------------*/

    .projetos {
        display: flex;
        flex-direction: column;
        grid-column: 1 / -1;
        padding-top: 6rem;
        padding-bottom: 5%;
    }

    .projetos h1 {
        font-size: 4.5rem;
    }

    .all-projects-wrapped {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
        max-width: 60%;
        margin: auto;
        gap: 5rem;
        margin-top: 4rem;
    }


    /*________________________________ FIM PROJETOS __________________________*/




    form {
        width: 70%;
    }








    /*------------------------------------------------ FOOTER -----------------------------------------------------------------*/





    /*________________________________________________FIM FOOTER ___________________________________________________________________*/








}