/*Ajustes para notebooks/laptops ou desktops medianos */
@media (min-width:993px) and (max-width:1349px) {
    /*------------------------------- HEADER NAVBAR ----------------------------------------------- */

    .logo {
        font-size: 3.5rem;
    }



    .navbar a {
        font-size: 1.8rem;
        margin-left: 3.5rem;
    }

    /*____________________ END HEADER NAVBAR ________________________________________________________*/


















    /*-------------------------------------------- HOME -----------------------------------------------*/

    .home {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: 3fr 3fr 0.5fr;
        padding: 20% 10% 0 10%;
    }



    /*---------------------- TERCEIRA ROW  container de icones -----------*/
    .home-icons-content {
        grid-column: 1 / -1;
        grid-row: 2;


        display: flex;
        justify-content: center;
        gap: 6rem;
    }


    /*Texto do icone*/
    .home-icons-content a {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 1.5rem;

    }


    .home-icons-content a i {
        font-size: 4.5rem;
    }


    /*---------------------- SEGUNDA ROW -----------*/
    .home-content {
        grid-column: 6 / -1;
        grid-row: 1;
        align-items: center;
    }



    .home-content h1 {
        font-size: 4rem;

    }


    .home-content h3 {
        font-size: 3rem;

    }

    .home-content p {
        padding: 0 10%;
        font-size: 1.7rem;
        text-align: start;

    }


    .btn {
        width: 20rem;
        height: 5rem;
        font-size: 2rem;
    }



    /*---------------------- PRIMEIRA ROW -----------*/
    .home-img {
        grid-column: 1 / 6;
        grid-row: 1;
        display: flex;
        justify-content: start;
        align-items: center;
        margin-top: -20rem;
    }

    .home-img .glowing-circle {}


    .home-img .glowing-circle::after {}


    /*foto, precisa estar com tamanho e altura definida para aparecer, sem isso ela nao aparece*/
    .glowing-circle .image {
        width: 30rem;
        height: 30rem;
    }


    .image img {}

    /*____________________________________________END HOME____________________________________________*/
















    /*----------------------------------------- PROJETOS ------------------------------------------------------*/
    .projetos {}


    .projetos h1 {
        font-size: 3.5rem;
        margin-bottom: 10rem;
    }

    .cards-wrapper {
        width: 90%;
        padding: 0 2rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
    }

    .card {
        align-items: center;
        padding: 1rem;
        border-radius: 5px;
    }

    .wrapped-img-card {
        width: 100%;
        flex: 1 1 auto;
        padding: 1rem;
        text-align: center;
        font-size: 5rem;
    }


    .content-card {
        text-align: center;
        padding: 1rem;
    }

    .content-card h3 {
        margin: 0rem 0;
        font-size: 2.1rem;
    }


    .content-card h4 {
        margin-bottom: 2rem;
        font-size: 1.8rem;
    }


    .content-card p {
        font-size: 1.6rem;
        text-align: start;
    }

    .card a {
        font-size: 1.6rem;
    }

    /*_______________________________________ END PROJETOS _______________________________________________________*/












    /*----------------------------------------- SKILLS ------------------------------------------------------*/


    .skills {
        margin: 10% 0;
    }


    .skills h1 {
        font-size: 3.5rem;
    }

    .skills-bars {
        width: 65%;
    }

    .skills-bars li {}


    .skills-bars li h3 {
        font-size: 2rem;
    }


    .bar {}


    .bar span {}

    /*_______________________________________ END SKILLS _______________________________________________________*/







    /*--------------------------------------CONTATO -------------------------------------------------------------*/

    .contato {}


    .contato h1 {
        font-size: 3.5rem;
        margin-bottom: 5rem;
    }

    form {
        width: 65%;
    }

    .input-box {}


    .input-box label {
        font-size: 2.2rem;
    }


    .input-box input {
        font-size: 1.7rem;
    }


    .input-box textarea {
        font-size: 1.7rem;
    }


    .input-box .input-submit {}


    .inputs-hidden {
        display: none;
    }

    /*______________________________________ END CONTATO ______________________________________________________*/





}