@import url('https://fonts.googleapis.com/css2?family=Anton&family=Belanosima&family=Fjalla+One&family=Josefin+Sans:wght@300;400;600&family=Oswald&family=Poppins:wght@200;300;400;500;600&family=Roboto:ital,wght@0,400;0,700;1,300&family=Signika&family=Source+Code+Pro&display=swap');

:root {
    font-size: 62.5%;

    --dark-style: linear-gradient(to right, #420350, #3f0252, #44035e, #3d005c, #240339);
    --secundaryStyle: #9818ae;

    --dark-style2: #1f072c;
    --turquesa: #00ffcc;

    --shadows: 0 1.4rem 1.5rem rgb(0, 0, 0, 0.3), 0 1rem 1rem rgb(0, 0, 0, 0.5);
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    font-family: 'Poppins', sans-serif;

}

body {
    background: var(--dark-style);
    color: #fff;
    min-width: 335px;
}


.grid-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}



/*------------------------------------------------------------ HEADER -----------------------------------------------------------*/
.header {
    grid-column: 1 / -1;

    display: flex;
    justify-content: space-between;
    align-items: center;


    position: sticky;
    top: 0;
    padding: 2rem 10%;
    background: var(--dark-style);
    z-index: 100;
}


.logo {
    color: aliceblue;
    text-decoration: none;
    font-weight: 600;
    pointer-events: none;
    animation: slideTop 1s ease forwards;
}


/*------- MENU HAMBURGER*/

#check {
    display: none;
}

.menu-burguer {
    display: none;

    color: var(--turquesa);
    cursor: pointer;

}

.menu-burguer #close-icon {
    display: none;
}


.navbar {}


.navbar a {
    color: var(--turquesa);
    text-decoration: none;
    font-weight: 600;
    margin-left: 3.5rem;
    opacity: 0;
    animation: slideTop 1s 0.8s ease-out forwards;
}


.navbar a:focus,
.navbar a:hover {
    color: aliceblue;
}


/*_______________________________________ END HEADER AND NAVBAR _______________________________________________________*/











/*--------------------------------------- HOME ---------------------------------------------------------*/
.home {
    grid-column: 1 / -1;
    min-height: 100vh;
    overflow: hidden;

}



/*------------ icons content*/
.home-icons-content {}

.home-icons-content a {
    border-radius: 50%;
    font-weight: bold;
    color: var(--turquesa);
    text-decoration: none;
    margin: 2rem 0;
    transition: 0.5s ease;
}


.home-icons-content a:hover {
    color: aliceblue;
}

.home-icons-content a:nth-child(1) {
    opacity: 0;
    animation: slideBottom 1s 2.2s ease forwards;
}

.home-icons-content a:nth-child(2) {
    opacity: 0;
    animation: slideRight 1s 2.2s ease forwards;
}

.home-icons-content a:nth-child(3) {
    opacity: 0;
    animation: slideTop 1s 2.2s ease forwards;
}


/*__________ end icons content*/



/*------------ home content*/
.home-content {
    display: flex;
    flex-direction: column;

}

.home-content h1 {
    font-weight: 600;
    line-height: 1.2;
    opacity: 0;
    animation: slideRight 1s .7s ease forwards;
}

.home-content h3 {
    font-weight: 600;
    color: var(--turquesa);
    opacity: 0;
    animation: slideLeft 1s 1s ease forwards;
}

.home-content p {
    margin: 2rem 0 4rem 0;
    opacity: 0;
    animation: slideLeft 1s 1.3s ease forwards;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    border-radius: 4rem;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    position: relative;

    opacity: 0;
    animation: slideTop 1s 1.8s ease forwards;
}


.btn::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background: var(--turquesa);
    background-size: 200%;
    background-position: 0 0;
    inset: 0;
    z-index: -1;
    border-radius: 4rem;
    filter: blur(0.5rem);
    transition: 0.4s ease-in-out;
}

.btn:hover::before {
    background-position: 100% 0;
    filter: blur(2rem);
}



.btn::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background: var(--dark-style);
    inset: 0;
    z-index: -1;
    border-radius: 4rem;

}

.btn:hover::after {
    background-position: 100% 0;
}

/*__________ end home content*/


/*_______________________________________ END HOME _______________________________________________________*/












/*--------------------------------------- HOME IMG ---------------------------------------------------------*/

.home-img {
    opacity: 0;
    animation: zoomIn 1s 2.2s ease forwards, floatImage 4s 2.2s ease-in-out infinite;

}


.home-img .glowing-circle {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: fit-content;
    height: fit-content;
    border: 2px solid var(--turquesa);
    border-radius: 50%;
    background-color: var(--turquesa);
}




.glowing-circle .image {
    position: relative;
    z-index: 1;
    border-radius: 50%;
    overflow: hidden;
}

.image img {
    width: 100%;
    object-fit: cover;
}


/*_______________________________________ END HOME IMG _______________________________________________________*/








/*----------------------------------------- PROJETOS ------------------------------------------------------*/

.projetos {
    grid-column: 1 / -1;

    display: grid;
    place-items: center;


    color: aliceblue;
    padding-bottom: 5rem;
}


.projetos h1 {
    opacity: 0;
    animation: slideRight 1s .7s ease forwards;
}

.cards-wrapper {
    width: 100%;
    padding: 1rem;
    overflow: hidden;
}

.card {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border-radius: 5px;
    background-color: var(--dark-style2);
    box-shadow: var(--shadows);
    opacity: 0;
    animation: slideLeft 3s 1s ease forwards;
}

.wrapped-img-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    flex: 1 1 auto;
}

.wrapped-img-card img {
    width: 12rem;
    height: 12rem;
    object-fit: cover;
    border-radius: 50%;
}

.content-card {
    text-align: center;
    padding: 1rem;
    box-flex: 1 1 auto;
}

.content-card h3 {
    color: var(--turquesa);
}


.content-card h4 {}

.content-card p {

    text-align: center;
    margin-bottom: 2rem;
}

.card a {
    padding: 1.5rem;
    color: var(--turquesa);
    background-color: var(--dark-style);
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
}

/*_______________________________________ END PROJETOS _______________________________________________________*/














/*----------------------------------------- SKILLS ------------------------------------------------------*/


.skills {
    grid-column: 1 / -1;

    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10% 0;
}


.skills h1 {
    margin: 0 0 7rem 0;
    opacity: 0;
    animation: slideLeft 1s .7s ease forwards;
}



.skills-bars {
    background-color: var(--dark-style2);
    box-shadow: var(--shadows);
    border-radius: 10px;
    padding: 3rem;

    opacity: 0;
    animation: slideRight 2s .4s ease forwards;
}

.skills-bars li {
    margin: 2rem 0;
    padding: 1rem;
    list-style: none;
}


.skills-bars li h3 {
    text-transform: uppercase;
}


.bar {
    display: block;
    background: #353b48;
    height: 2rem;
    border: 1px solid rgb(0, 0, 0, 0.3);
    border-radius: 1rem;
    overflow: hidden;
    box-shadow: var(--shadows);
    transition: all 0.4s cubic-bezier(.25, .8, .25, .1);
}


.bar span {
    height: 2rem;
    float: left;
    background: var(--turquesa);
}


.bar .html {
    width: 80%;
    animation: bar-animation 2.5s;
}

.bar .css {
    width: 90%;
    animation: bar-animation 2.5s;
}

.bar .javascript {
    width: 70%;
    animation: bar-animation 2.5s;
}


.bar .bootstrap {
    width: 60%;
    animation: bar-animation 2.5s;
}

/*_______________________________________ END SKILLS _______________________________________________________*/




/*--------------------------------------CONTATO -------------------------------------------------------------*/

.contato {
    grid-column: 1 / -1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 10%;
}


.contato h1 {
    opacity: 0;
    animation: slideLeft 1s .5s ease forwards;
}

form {
    display: flex;
    flex-direction: column;
    gap: 5rem;
    background: var(--dark-style2);
    padding: 4rem 3rem;
    border-radius: 10px;
    box-shadow: var(--shadows);
    opacity: 0;
    animation: slideRight 1s .5s ease forwards;
}

.input-box {
    display: flex;
    flex-direction: column;

    width: 100%;
    border-radius: 5px;
}


.input-box label {
    font-weight: bold;
}


.input-box input {
    background: transparent;
    padding: 1rem 0 0.2rem 1.5rem;
    border-bottom: 2px solid var(--turquesa);
    color: aliceblue;
}


.input-box textarea {
    resize: none;
    border-radius: 5px;
    color: aliceblue;
    background-color: transparent;
    border: 1px solid var(--turquesa);
    padding: 1rem;
}


.input-box .input-submit {
    border: none;
    padding: 1rem;
    border-radius: 8px;
    font-weight: bold;
    color: var(--dark-style2);
    background: var(--turquesa);
}


.inputs-hidden {
    display: none;
}

/*______________________________________ END CONTATO ______________________________________________________*/









/*--------------------------------------FOOTER -------------------------------------------------------------*/

.footer {
    grid-column: 1 / -1;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--dark-style2);
    padding: 2rem 0;
    gap: 5rem;
}

/*---- footer icones*/
.icons-footer-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 5rem;
}

.icons-footer-wrapper a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.6rem;
    color: var(--secundaryStyle);
    text-decoration: none;
    transition: all 0.5s ease;
}

.icons-footer-wrapper a:hover,
.icons-footer-wrapper a:focus {
    color: var(--turquesa);
}

.icons-footer-wrapper a i {
    font-size: 4rem;

}

/*______ fim footer icones*/


/*---------- footer menu*/
.menu-links-footer {
    display: flex;
    justify-content: center;
    gap: 3rem;
    width: 100%;
}

.menu-links-footer a {
    font-size: 1.2rem;
    color: var(--secundaryStyle);
    font-weight: bold;
}


/*________ fim footer menu*/


.developer-footer {
    width: 100%;
    text-align: center;
}

.developer-footer p {
    font-size: 1.4rem;
    color: var(--secundaryStyle);
}

/*______________________________________ END FOOTER ______________________________________________________*/