/*ajustes para mobile pequenas telas*/
@media (max-width:580px) and (orientation:portrait) {
    /*------------------------------- HEADER NAVBAR ----------------------------------------------- */


    .logo {
        font-size: 1.8rem;
    }



    /*--------------- CONFIGURANDO MENU HAMBURGUER NA TELA MOBILE */

    /*Se o checkbox for marcado, o proximo FILHO dentro da tag menu-burger com id #menu-icon será estilizado*/
    #check:checked~.menu-burguer #menu-icon {
        display: none;
    }


    /*Se o checkbox for marcado, o proximo FILHO dentro da tag menu-burger com id #close-icon será estilizado*/
    #check:checked~.menu-burguer #close-icon {
        display: block;
    }



    .menu-burguer {
        display: inline-flex;
        position: absolute;
        right: 5%;
        font-size: 3rem;
    }


    .navbar {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 3rem;

        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 0;
        background-image: var(--dark-style);
        overflow: hidden;
        transition: all 0.4s ease;
    }


    #check:checked~.navbar {
        height: 25rem;
        padding: 2rem 0;
    }

    .navbar a {
        font-size: 1.7rem;
    }

    /*____________________ FIM DA CONFIGURAÇÃO DO MENU HAMBURGUER*/

    /*____________________ END HEADER NAVBAR ________________________________________________________*/









    /*-------------------------------------------- HOME -----------------------------------------------*/

    .home {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: 2fr 2fr 1fr;
        row-gap: 3rem;
        padding: 5% 5%;
    }



    /*---------------------- TERCEIRA ROW -----------*/
    .home-icons-content {
        grid-column: 1 / -1;
        grid-row: 3;


        display: flex;
        justify-content: center;
        gap: 3rem;
    }


    /*Texto do icone*/
    .home-icons-content a {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 1.5rem;

    }


    .home-icons-content a i {
        font-size: 3.5rem;
    }


    /*---------------------- SEGUNDA ROW -----------*/
    .home-content {
        grid-column: 1 / -1;
        grid-row: 2;

        align-items: center;
    }



    .home-content h1 {
        font-size: 2.5rem;

    }


    .home-content h3 {
        font-size: 1.6rem;

    }

    .home-content p {
        padding: 0 10%;
        font-size: 1.4rem;
        text-align: start;

    }


    .btn {
        width: 18rem;
        height: 4.8rem;
        font-size: 2rem;
    }

    /*____________________________________________END HOME ____________________________________________*/










    /*--------------------------------------- HOME IMG ---------------------------------------------------------*/

    /*---------------------- PRIMEIRA ROW -----------*/
    .home-img {
        grid-column: 1 / -1;
        grid-row: 1;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .home-img .glowing-circle {}


    .home-img .glowing-circle::after {}


    /*foto, precisa estar com tamanho e altura definida para aparecer, sem isso ela nao aparece*/
    .glowing-circle .image {
        width: 20rem;
        height: 20rem;
    }


    .image img {}

    /*____________________________________________END HOME IMG ____________________________________________*/












    /*----------------------------------------- PROJETOS ------------------------------------------------------*/
    .projetos {
        padding-top: 10%;
    }


    .projetos h1 {
        font-size: 2.5rem;
        margin-bottom: 5rem;
    }

    .cards-wrapper {
        width: 90%;
        display: grid;
        grid-template-columns: 1fr;
        gap: 4rem;
    }

    .card {
        align-items: center;
        padding: 1rem;
        border-radius: 5px;
    }

    .wrapped-img-card {
        width: 100%;
        flex: 1 1 auto;
        padding: 1rem;
        text-align: center;
        font-size: 5rem;
    }

    .wrapped-img-card img {
        width: 15rem;
        height: 15rem;
    }

    .content-card {
        text-align: center;
        padding: 1rem;
    }

    .content-card h3 {
        margin: 0rem 0;
        font-size: 1.6rem;
    }


    .content-card h4 {
        margin-bottom: 2rem;
        font-size: 1.4;
    }

    .content-card p {
        font-size: 1.2rem;
        text-align: start;
    }

    .card a {
        font-size: 1.2rem;
    }

    /*_______________________________________ END PROJETOS _______________________________________________________*/















    /*----------------------------------------- SKILLS ------------------------------------------------------*/


    .skills {
        margin: 10% 0 20% 0;
    }


    .skills h1 {
        font-size: 2.5rem;

    }

    .skills-bars {
        width: 90%;
    }

    .skills-bars li {}


    .skills-bars li h3 {
        font-size: 1.6rem;
    }


    .bar {}


    .bar span {}

    /*_______________________________________ END SKILLS _______________________________________________________*/






    /*--------------------------------------CONTATO -------------------------------------------------------------*/

    .contato {
        margin-bottom: 10%;
    }


    .contato h1 {
        font-size: 2.5rem;
        margin-bottom: 5rem;
    }

    form {
        width: 90%;
    }

    .input-box {}


    .input-box label {
        font-size: 2.2rem;
    }


    .input-box input {
        font-size: 1.7rem;
    }


    .input-box textarea {
        font-size: 1.7rem;
    }


    .input-box .input-submit {}


    .inputs-hidden {
        display: none;
    }

    /*______________________________________ END CONTATO ______________________________________________________*/












}